@font-face {
  font-family: "OpenSans Light";
  src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Medium";
  src: url("../assets/fonts/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}
:root {
  --color-1: #005dbb;
  --color-2: #ffffff;
  --color-3: #facf00;
  --color-4: #434142;
  --color-5: #939487;
  /* --color-1: #3f59ca;
  --color-2: #ffffff;
  --color-3: #f053a0;
  --color-4: #010010; */
  --color-1: #2c2e39;
  --color-2: #ffffff;
  --color-3: #5065e2;
  --color-4: #f96758;
  --color-5: #939487;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "OpenSans Regular", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans Bold", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.app-bar,
.app-bar button {
  box-shadow: none;
  background-color: var(--color-2);
  color: var(--color-1) !important;
}

.index-container section {
  height: 100vh;
}
.index-container .section-even {
  background-color: var(--color-2);
}
.index-container .section-odd {
  background-color: var(--color-3);
}
